<!DOCTYPE html>
<html lang="en">
<head>
<title>Collect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bantu Textbooks</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Find Friends</a></li>
      <li><a href="#">Find Textbooks</a></li>
      <li><a href="#">Browse Textbooks</a></li>
    </ul>
  </div>
</nav>
</div>

<form action="/api/location" method="post">
<p>
Collect textbooks at specified location within 7 days
<div class="radio">
  <label><input type="radio" name="location">Wits</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="location" disabled>UJ</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="location" disabled>TUT</label>
</div>
</p>
<button type="submit" class="btn btn-success">Finish</button>
</form>

</body>
</html>
