<!DOCTYPE html>
<html lang="en">
	
<head>
    <meta charset="UTF-8">
    <title>Bantu Textbooks</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>
<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bantu Textbooks</a>
</nav>
</div>
 	<p id="demo"></p>
	<p id="counter"></p>
    <div class="container">
    
    <form role="form" action="/actions/request" method="post">
        <div class="row">
            <div class="form-group">
                <label for="code">Book Name</label>
                <input id="UserSearch" type="text" id="query" name="query" value="Field and Wave Electromagnetics(only available book currenlty)" class="form-control input-lg" disabled/>
            </div>
        </div>

        <div class="row">
			
            <button type="submit" id="helloButton"class="btn btn-default">Search</button>
           
        </div>
    </form>
	</div>                      
		<!--<script src="/cdn/js/search_algorithm.js"></script> -->
</body>
</html>