<html>
<head>
<title>Login</title>
<center>
<h1>Login</h1>
</center>
</head>
<body>
<center>
<form >
<input type="text" id="username" placeholder="Username"><br />
<input type="password" id="password" placeholder="Password"><br />
<button formaction="/Login" type ="submit" >Login </button>
</center>
</form>
<center>
<h2>Sign up</h2>
</center>
<center>
<input type="text" id="name" placeholder="Name"><br />
<input type="password" id="password" placeholder="EmailAddress"><br />
<input type="button" value="Sign up"><br />
</center>
</body>
</html>