<!DOCTYPE html>
<html>
<head>

  <title>Search Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

	<body>
	<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bantu Textbooks</a>
</nav>
</div>
		<div id="Textbook"></div>
		<div><a href="https://bantutextbooks.azurewebsites.net/payment"><button type="button" class="btn btn-warning">Buy book</button></a></div>

		<script type="text/javascript">

			function searchAlgorithm (search_word, textbook_object)
				{
					for(let i = 0; i !== textbook_object.length; i++)
						{
							if(search_word == textbook_object[i].bookTitle)
							{
								var element = document.getElementById("Textbook");
								element.innerHTML = textbook_object[i].bookTitle + "  Price: " + textbook_object[i].price;
								
								return (textbook_object[i].bookTitle);
							}

						}
					return "No Results Found";
				}
				

			
			let xhttp = new XMLHttpRequest();
			let xhttp2 = new XMLHttpRequest();
			let search_query = "";
			xhttp2.open("GET", "../cdn/search.json", true);
			xhttp2.onreadystatechange = function()
			{
				if(this.readyState == 4 && this.status == 200)
				{
					let response = JSON.parse(xhttp2.responseText);
					let x = 0;
					search_query = response.value;
				}
			};
			xhttp.onreadystatechange = function()
			{
				if(this.readyState == 4 && this.status == 200)
				{
					let response = JSON.parse(xhttp.responseText);
					let textbooks = response.Textbooks;
					let search_query = response.Textbooks.value;
					
					let output = '';
					for (let i = 0 ; i < textbooks.length; i++)
					 {
						output += '<li>' + textbooks[i].bookTitle + '</li> &nbsp; <a href="https://bantutextbooks.azurewebsites.net/actions/' + textbooks[i].bookId + ' "><button type="button">Buy book!</button></a>';
					 }
					var element = document.getElementById("Textbook");
					element.innerHTML = search_query;
					let Found_books = [];
					var x = 0
					
					for (var i = 0; i !== textbooks.length; i++)
					{
						Found_books[i] =  searchAlgorithm("Field and Wave Electromagnetics", textbooks);
					}
				}
				
			};

			xhttp.open("GET", "../cdn/Textbooks.json", true);
			
			xhttp.send();
			xhttp2.send();
		</script>
	</body>
</html>